node_modules
npm-debug.log
.git
.gitignore
.dockerignore
.vscode
.DS_Store
.env.local
.env.*.local
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
vendor
.idea
*.log
tests
.php_cs.cache
dist
build
.next
public/hot
public/storage
